/*
1.层叠（顺序）
2.优先级（#id > .class > element）
3.继承（有些属性默认继承，有些属性不会继承；哪些属性可以默认继承很大程度上是由常识决定的）
*/

/*
1.重要程度
2.优先级
    内联属性 >> ID选择器 >> 类选择器/属性选择器/伪类选择器 >> 元素选择器/伪元素选择器
3.资源顺序

!important 可覆盖上述所有的优先级，不过需要很小心的使用

*/

/* CSS选择器 */
/*类型选择器*/
h1 {}
/*类选择器*/
.box {}
/*ID选择器*/
#unique {}
/*属性选择器*/
a[title] {}
a[href="https://example.com"] {}
/*伪类选择器*/
a:hover {}
p:first-child
/*伪元素选择器*/
p::first-line {}
/*后代选择器*/
h1 p {
    color: darkorchid;
}
/*子代选择器*/
h1 > p {
    /*子代选择器和后代选择器是一样的*/
    /*color: black;*/
    font-style: italic;
}
/*相邻兄弟选择器*/
h1 + p {
    background-color: #97DB9A;
}
/*通用兄弟选择器*/
h1 ~ p {
    border: 1px solid red;
}

/* article 下的第一个子元素，不管它是什么元素 */
article :first-child {}
/* 作为其他元素的第一个子元素的article元素 */
article:first-child {}
/* 明确表达，避免混淆：article 下的第一个子元素 */
article *:first-child {}

.class {}
element.class {}

/* class1 && class2 标记的元素 */
.class1.class2 {}

#id {}
element#id {}

/* 使用 class 比 ID 好 */

/*
属性选择器
[attr]  a[title]
[attr=value]    a[href="https://example.com"]
[attr~=value]   p[class~="special"] <p class="special anyothers">
[attr|=value]   div[lang|="zh"] <div lang="zh"> or <div lang="zh-somethings">
[attr^=value]   li[class^="box-"]
[attr$=value]   li[class$="-box"]
[attr*=value]   li[class*="box"]
[attr some_rules i]     li[class^="a" i] 大小写不敏感
*/