/* import rules */
@import "common.css";

h1 {
    color: red;
}

p {
    color: green;
}

li {
    list-style-type: square;
}

/*.special*/
li.special,
span.special {
    color: orange;
    font-weight: bold;
}

/* 包含选择符：在两个选择器直接加一个空格， li 下面的 em */
li em {
    color: rebeccapurple;
}

/* 相邻选择符：在两个选择器直接添加一个 + 号，h1 面相邻的第一个 p */
h1 + p {
    font-size: 200%;
}

a:hover {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: green;
}

/*组合多种选择器*/
/* body 下面的 h1 后面相邻的第一个p 下面的 .special 类 */
body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}

/* CSS属性生效有 级联规则 和 专用规则
   级联规则：出现在后面的覆盖前面的
   */

/* CSS中的属性和值都是区分大小写的 */

.outer {
    border: 5px solid black;
}

.outer .box {
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
}

.rotate {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
}

body {
    background-color: pink;
}

@media (min-width: 30em) {
    body {
        background-color: blue;
    }
}